@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'heading';
  src: url('./assets/fonts/CooperLightBT.woff2') format('woff2'); 
}

@font-face {
  font-family: 'regular';
  src: url('./assets/fonts/regular.woff2') format('woff2'); 
}

@font-face {
  font-family: 'nav';
  src: url('./assets/fonts/aeonik-bold.woff2') format('woff2'); 
}


* {
  font-family: "heading", sans-serif;
}

p{
  font-family: "regular", sans-serif;

}

.link {
  font-family: "regular", sans-serif;

}
